body {
    margin: 0;
    box-sizing: border-box;
    background: #000000;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}
.panel {
    background: #eaeaea;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    transition:
                font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
                flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
                background 0.2s;
    font-size: 1.5em;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.panel1 { background-image:url(https://images.unsplash.com/photo-1682709732839-384196e12239?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60); }
.panel2 { background-image:url(https://images.unsplash.com/photo-1682832919420-b2aca69e6ebc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyODB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1682686578842-00ba49b0a71a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1675&q=80); }
.panel4 { background-image:url(https://images.unsplash.com/photo-1682752013437-c4c775a78918?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0MzJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60); }
.panel5 { background-image:url(https://images.unsplash.com/photo-1682547095505-aefe40454fac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1ODJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60); }
  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}
.panel > *:first-child{
    transform: translateY(-100%);
}
.panel.open-active > *:first-child{
    transform: translateY(0);
}
.panel > *:last-child{
    transform: translateY(100%);
}
.panel.open-active > *:last-child{
    transform: translateY(0);
}
.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}
.panel p:nth-child(2) {
    font-size: 4em;
}
.panel.open {
    font-size: 40px;
    flex: 5;
}
@media all and (max-width:900px){
    .panels{
        flex-direction: column;
    }
    .panel {
        font-size: 1em;
        height: 10em;
    }
    .panel p {
        font-size: 1.5em;
    }
    .panel > *:first-child{
        transform: translateX(-100%);
    }
    .panel.open-active > *:first-child{
        transform: translateX(0);
    }
    .panel > *:last-child{
        transform: translateX(100%);
    }
    .panel.open-active > *:last-child{
        transform: translateX(0);
    }
}